.light{color:black;}
.orangeSou{border-bottom: solid; border-color:orange;}

.cvtitle{border-bottom: solid; border-color:orange;}

.fa-dot-circle {color: orange;}

.fa-graduation-cap {color: orange;}

.fa-briefcase {color: orange;}

.fa-pen {color: orange;}

.fa-circle {color:orange;}

ul {
  list-style-type: none;
  width: 500px;
}
ul li:before {
  content: "\2022";
  float: left;
  color: orange;
}
ul li {
  text-align: left;
}



h1 { font-size: 50px; color: orange;}
h2 {font-size: 25px;}
h4 {font-size: 16px}

.p {text-align:justify-content;}



.cvbody{margin-left: 350px; margin-top: 40px; text-align: justify;}


.blockquote {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.cvlist {
  float: left;
}
.cvlist {
  margin-top: 5px;
}

.cvrec1{ float: left; margin-top: 10px; }

.cvrec2{ float: right; margin-top: 10px; }