// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }


img {
  border-radius: 50%;
}


.cvtitle{border-bottom: solid; border-color:orange;}

.fa-graduation-cap {color: orange;}

.fa-briefcase {color: orange;}

.fa-pen {color: orange;}













.fa-circle {color:orange;}

h1 {color: orange;}

.p {text-align:justify;}



.cvbody{margin-left: 350px; margin-top: 40px; text-align: justify;}


.blockquote {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}


.cvlist {
  float: left;
}
.cvlist {
  margin-top: 5px;
}

.cvrec1{ float: left; margin-top: 10px; }

.cvrec2{ float: right; margin-top: 10px; }

